#menu-toggle {
	margin-left: 50px;
    margin-top: 8px;
}
#page-content-wrapper {
	padding: 0px;
    margin-top: -43px;
    margin-left: 91px;
}
#ul_logout {
	margin-top: -41px;
    margin-right: 8px;
}
#span_username {
	font-size: large;
}
.LoadingIndicator {
  display: block;
  background: url(../img/loading.gif) center center no-repeat;
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
#modalpopheading {
  margin-left: 15px;
  margin-bottom: -2px;
}
#div_notification {
  padding: 15px;
}
#modalpopheadiddelete {
  margin-left: 15px;
  margin-bottom: 10px;
}
#headingcenter {
  text-align: center;
}
#modalpopuser {
  word-wrap: break-word;
  margin-bottom: -2px;
}